@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.signup-page {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.signup-form {
  @include card;
  width: 380px;
  padding: 30px;

  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: $blue-dark;
  }

  label {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;

    input {
      width: 100%;
      margin-top: 5px;
    }
  }

  button {
    @include button-primary;
    width: 100%;
    margin-top: 15px;

    &:disabled {
      background: color.adjust($blue-dark, $lightness: 20%);
      cursor: not-allowed;
    }
  }

  .error-box {
    background: #ffdddd;
    color: #a40000;
    padding: 10px;
    border-radius: $radius;
    margin-bottom: 15px;
    border: 1px solid #ffb3b3;
    text-align: center;
  }

  .success-box {
    background: #ddffdd;
    color: #006400;
    padding: 10px;
    border-radius: $radius;
    margin-bottom: 15px;
    border: 1px solid #a3e6a3;
    text-align: center;
  }

  .login-link {
    margin-top: 15px;
    text-align: center;

    a {
      color: $blue-accent;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
