@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.create-event-page {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $blue-dark;
  }

  form {
    @include card;
    padding: 30px;
  }

  label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 20px;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  button {
    @include button-primary;
    width: 100%;
    margin-top: 10px;
  }

  .error {
    background: #ffdddd;
    color: #a40000;
    padding: 10px;
    border-radius: $radius;
    margin-bottom: 15px;
    border: 1px solid #ffb3b3;
  }
}
