@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app-container {
  min-height: 100vh;
  background: $background-light;
  color: $text-main;
  font-family: $font-main;

  .content {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
