@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.navbar {
  background: $blue-dark;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .nav-left {
    .logo {
      font-size: 22px;
      font-weight: 700;
      color: white;
      text-decoration: none;

      &:hover {
        color: $blue-light;
      }
    }
  }

  .nav-right {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
      color: white;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: $blue-light;
      }
    }

    .username {
      color: $blue-light;
      font-weight: 600;
    }

    button {
      @include button-primary;
      padding: 8px 14px;
      background: color.adjust($blue-dark, $lightness: 10%);

      &:hover {
        background: $blue-light;
        color: $blue-dark;
      }
    }
  }
}
